<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astronomia</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
    <script
      type="module"
      src="./node_modules/@google/model-viewer/dist/model-viewer.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app">
      <main>
        <section class="home-section" id="home-landing-section">
          <div class="container">
            <div id="home-landing-wrapper">
              <div id="home-landing-title">
                <h2>welcome to the world of</h2>
                <h1>Astronomia</h1>
              </div>
            </div>
          </div>
        </section>

        <section class="home-section" id="home-planets-section">
          <div class="container">
            <div id="home-planets-wrapper">
              <div id="home-planets-title">
                <h2>Expore the</h2>
                <h1>planets</h1>
              </div>
              <div id="home-planets-grid">
                <div
                  class="home-planets-grid-item"
                  v-for="(planet, index) of planets"
                  :key="index"
                >
                  <model-viewer
                    :src="`assets/images/planets/${planet.modelName}`"
                    alt="A 3D model of an astronaut"
                    auto-rotate
                    camera-controls
                    disable-zoom
                    style="height: 250px"
                  ></model-viewer>
                  <h2>{{ planet.name }}</h2>
                  <div
                    v-if="planet.notAPlanet"
                    class="home-planets-grid-item-not-a-planet"
                  >
                    <span>Not a planet anymore</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="./node_modules/vue/dist/vue.global.prod.js"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            planets: [
              { name: "Mercury", modelName: "mercury.glb" },
              { name: "Venus", modelName: "venus.glb" },
              { name: "Earth", modelName: "earth.glb" },
              { name: "Mars", modelName: "mars.glb" },
              { name: "Jupiter", modelName: "jupiter.glb" },
              { name: "Saturn", modelName: "saturn.glb" },
              { name: "Uranus", modelName: "uranus.glb" },
              { name: "Neptune", modelName: "neptune.glb" },
              { name: "Pluto", modelName: "pluto.glb", notAPlanet: true },
            ],
          };
        },
        methods: {},
      }).mount("#app");
    </script>
  </body>
</html>
