<footer>
  <div class="container">
    <div id="footer">
      <p><a href="/">Home</a></p>
      <p>
        3D models of planets are from
        <a href="https://solarsystem.nasa.gov"
          >NASA's resource website about solar system</a
        >
      </p>
      <p>
        Information about planets are from
        <a href="https://wikipedia.com"> Wikipedia</a>
      </p>
      <p>
        made with <i class="fa fa-heart" id="footer-heart-icon"></i> by Selim
        Ataballyev
      </p>
    </div>
  </div>
</footer>
