@import "../config/mixins";
@import "../config/variables";

.home-section {
  padding: 1rem;
}

#home-landing-section {
  @include flex(row, center, center);
  height: 100vh;
  background-image: url("/assets/images/home/home-landing-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#home-landing-title {
  text-align: center;
  h1 {
    font-size: 105px;
    font-family: "Colatemta";
    font-weight: 400;
  }
  h2 {
    font-family: "Pecita";
  }
}

#home-planets-section {
  height: 100vh;
  background-image: unset;
}

#home-planets-title {
  @extend #home-landing-title;
  margin-top: 5rem;
}

#home-planets-grid {
  padding: 4rem 0;
  @include grid(repeat(4, 1fr), auto, 3.5rem 2rem);
}

.home-planets-grid-item {
  position: relative;
  overflow: hidden;
  h2 {
    margin-top: 1rem;
    font-family: "Pecita";
    font-weight: 400;
    text-align: center;
  }
}

.home-planets-grid-item-not-a-planet {
  background-color: $errorColor;
  @include flex(row, center, center);
  position: absolute;
  top: 3rem;
  right: -5rem;
  width: 100%;
  transform: rotate(45deg);
  box-shadow: 0 0 3px #555;
}
