@import "../config/mixins";

.planet-section {
  @extend .home-section;
}

#planet-landing-section {
  @extend #home-landing-section;
}

#planet-landing-title {
  @extend #home-landing-title;
  mix-blend-mode: overlay;
  position: relative;
}

#planet-model {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @include flex(row, center, center);
}

#planet-link-to-info-section {
  position: absolute;
  bottom: 2rem;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 25px;
  z-index: 10;
  padding: 1rem;
  p {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

#planet-link-to-home-page {
  @extend #planet-link-to-info-section;
  top: 2rem;
  bottom: unset;
}

#planet-info-title {
  @extend #home-planets-title;
}

#planet-info-content {
  margin-top: 2rem;
  ul {
    margin: 1.4rem 0;
  }
  p,
  li {
    margin: 12px 0;
    font-size: 20px;
  }
}
