@import "../config/mixins";
@import "../config/variables";

footer {
  background-color: rgb(19, 19, 19);
}

#footer {
  @include flex(column, center, center);
  padding: 2rem;
  p {
    margin-bottom: 1rem;
    a {
      color: rgb(158, 120, 230);
    }
  }
}

#footer-heart-icon {
  margin: 0 5px;
  color: $errorColor;
}
